@media (max-width:1440px) and (min-width:1024px) {

  
 .main {
    gap: 16vh;
 }
    


 footer{ 
    /* border: 2px solid red ; */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}
    
    }