@media (max-width:1024px) and (min-width:768px) {

 
    
ul{
   
    gap: 40px;
    
}
ul li a {
    font-size: 15px;
}
nav {
    padding-bottom: 20px;
}
    
.logo-row {
    background-color: white;
    z-index: 3;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    
 }

.logo-row img {
    width: 100px;
    height: 100px;
}

.main {
    gap: 16vh;
 }
    
 .news-letter {
    width: 60%;
     gap: 40px;
    
}
.news-letter h1   {
    font-size: 2rem;
    font-weight: bold;

}


.news-letter input {
    background-color: #47474700;
     border: none ;
     outline: none ;
     color: white;
     padding: 5px;
     width: 70%;
     
}
.news-letter .inp {
    width: 70%;
    gap: 14px;
  
}



.news-letter button {
    padding: 10px 20px ;
    
}











    }