*{
    box-sizing: border-box;
    padding: 0 ;
    margin:0;
}
:root {
    --blue-dark:#0C7FE6;
    --blue-lite: #0C8BFD;
    --black-dark:#111010;
    --black-lite:#1D1C1C;
    --full-white:#FFFFFF;
    --grey-dark:#292828;
    --grey-lite:#3E3D3D;
    --text-light: #646262;

}
/* nav css  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    align-items: center;
}
nav ul li {
    color: var(--text-light );
    list-style: none;
}
nav ul {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 100px;
 flex-wrap: wrap;
 font-size: 1.1rem;
}
nav button {
    background-color: var(--blue-lite);
}

nav button{
    color: #FFFFFF;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
}
    

/* hero  */
.hero {

    display: flex;
    align-items: flex-start ;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 200px ;
    flex-wrap: wrap;
}

.right-hero {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.right-hero h1  {
    
    font-size: 4rem;
    color: #FFFFFF  ;
}
.right-hero p {
    color: var(--text-light);
    font-size: 1.3rem   ;
    line-height: 1.9rem;
    letter-spacing: 2px ;
    
}

.right-hero span {
    color: var(--blue-dark);
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

.hero-btn{
    display: flex;
    gap: 20px ;
}

.hero-btn .btn1  {
    /* color: white; */
   background-color: var(--blue-lite);
   padding: 10px 20px ;
     outline: none;
     border: none ;
}

    .hero-btn .btn2  {
    outline: none;
    border: 1px solid white ;
        color: white;
    padding: 10px 20px ;
    background-color: #111010;

    }
.hero-sec{
    background-color: #111010;
}

/* logo sec */
.logo-sec  {
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: var(--black-lite);
    gap: 100px ;

}
.logo-sec  img {
    background-color: var(--black-lite);

}


/* card sec */
.cards-sec{
    padding-top:100px ;
    padding-bottom: 100px  ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.cards-sec h1 {
    font-size: 3rem ;
    /* font-style: italic; */
}

.cards-sec h1 span {
    letter-spacing: 5px;
    font-size: 3.3rem ;
     color: #0C7FE6;
}

.cards-sec p {
    text-align: center;
    color: #646262;
    font-size: 1.2rem;
}

.card1,.card2 ,.card3  {
    border: 1px solid #646262 ;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
} 
.card2 {
    align-self: flex-end;
    background-color: #111010;
    color: white;
    position: relative;
    top: -50px;
}


.cards-parent{
    display: flex;
    gap: 130px;
    justify-content: center;
    align-items: center;
    padding: 70px;

}

.features {
    display: flex;
    gap: 120px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}
.r-card {
 display: flex;
 flex-direction: column ;
 gap: 20px;
}

.r-card div {
    display: flex;
    justify-content:space-between;
    gap: 100px  ;
    padding: 20px ;
    border: 1px solid var(--text-light);
    border-radius: 35px;
    align-items: center;

}
.r-card div:nth-child(1)
  {
    background-color: #0C8BFD;
    border: none;
}

.r-card div:nth-child(1) p {
      color: white;

  }



.l-card {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 3%;
    justify-content: center;
    /* padding-top: 100px; */
    padding: 20px;
    gap: 15px;
    border-radius: 30px;
    
}

.l-card>div {
    padding: 13px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;              
    background-color: var(--grey-lite);
    border-radius: 20px ;
    width: 340px;
}

.l-card div p {
    color: #FFFFFF;
    font-size: 15px;
} 

.big-dot{
    width: 15px ;
    height: 15px;
    background-color: #dad6d6;
    border-radius: 50%;
}

.f-sec {
   display: flex;
   align-items:center;
   justify-content: flex-end;
   flex-direction: column;
   gap: 40px;
    

}

.f-sec h1 {
    font-size: 3rem;
    text-align:justify;
    padding-right: 90px;

}

/* payment section */
.pay-sec{
    background-color: #111010;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column  ;
    gap: 90px ;
    padding-top: 100px;
}

.arrows {
    display: flex;
    gap: 140px ;

}
.arrows h1 {
    font-size: 3rem ;
    color: #FFFFFF  ;
}
.paycards{
     display: flex;
     justify-content: center;
     gap: 30px;
     padding-bottom: 100px;
   
}
.paycard1 ,.paycard2 ,.paycard3 {
    /* border: 1px solid red ; */
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px ;
    border-radius: 20px;

}
.paycard2{
    background-color: #0C8BFD;
    color: #FFFFFF;
}
.top-info p {
    font-size: 14px;
}

.top-info{

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
   box-shadow: 0px 0.5px 0.5px 0px rgb(201, 201, 201);
}
.top-info h1 {
    font-size: 1.8rem;
    font-weight: 900;
}
.top-info h2 {
    font-size: 2.8rem;
    font-weight: 900;
}
.top-info span {
    font-size: 1.3rem;
    color: #646262;
}
.bottom-info {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
}

.bottom-info .div{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    /* flex-direction: column; */
}
.bottom-info .div  p {
    font-size: 1.2rem;
}


.pay-sec button{
    padding:  15px 90px;
    border: none;
    border-radius: 20px ;
    color: white;
    font-size: 1.4rem;
    font-weight: 600    ;
    background-color: var(--blue-lite);
}
.pay-sec .btn2 {
    background-color: #FFFFFF;
    color: var(--blue-lite);
}

  /* rating cards  */
  .rating-sec {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}


  .top-para {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 200px;
    width: 1000px;
}
.top-para h1 {
    font-size: 3rem;
}

.top-para p {
    font-size: 15px;
    color: #646262;
}

.raiting-card{
    display: flex;
    gap: 40px;
}
.l-r-cards {
    color: white;
     background-color: #000000;
     padding: 20px 30px;
     display: flex;
     align-items: flex-start;
     gap: 20px;
     flex-direction: column;
     justify-content: flex-start;
     border-radius: 40px;     
}
.l-l-cards {

     padding: 20px 30px;
     display: flex;
     align-items: flex-start;
     gap: 30px;
     flex-direction: column;
     justify-content: flex-start;
     border-radius: 40px;   
     border-top-right-radius:0px;
     border-bottom-right-radius:0px;
     border: 0.2px solid rgb(185, 185, 185) ;  
     border-right: none;
}

.l-l-cards h3{
    font-size: 15px;
    
}

.l-l-cards h4 {
    font-size: 13px;
    font-weight: lighter;
}
 
.l-r-cards p  { 
    font-size: 1.4rem;
    font-weight: 100;
    font-style: italic;
}
.l-l-cards p  { 
    font-size: 1.4rem;
    font-weight: 100;
    font-style: italic;
}

.line2 {
    background-color: #0C7FE6;
    border: none ;
    outline: none ;
    border-radius: 3px;
    position: relative;
    top: -8px;
    bottom: 10px   ;
}

.line {
    background-color: #f3f3f3;
    border: none ;
    outline: none ;
    border-radius: 3px;
}
.line-sec{
    width: 50%;    
}



/* footer */
footer {
    padding: 100px 0px ;
    background-color: #111010;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.f-child {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    font-size: 1.4rem;
    font-weight: 300;
}

.f-heading h1 {
    color: white;
}

.forum form {
    padding: 50px 25px;
    background-color: #212020;
    display: flex;
    gap: 20px ;
    border-radius: 20px;
}

.forum form input {
    background-color: #3E3D3D;
    padding: 15px 30px ;
    border: none;
    border-radius: 20px ;
    color: white;

}
.forum form input:focus {
    outline: none;
}
.forum form input:last-child{
    background-color: #0C8BFD;
    color: white;
}


.m-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--full-white);
}
.line-ft{
    color: white;
    width: 50%;
    height: 1px;
}

.row p:not(:nth-child(1))  {
    font-size:15px;
    
}

.row  {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tb{
    display: flex;
    gap: 150px;
    padding: 100px 0px ;
}