<%- include('../partials/html-head.ejs') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css" />
<%- include('../partials/nav.ejs') %>

<h1>ths is <%= id %> </h1>

<%- include('../partials/footer.ejs') %>