<%- include('../partials/html-head.ejs') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css" />
<%- include('../partials/nav.ejs') %>

<h1>Trainer List</h1>


<%- include('../partials/footer.ejs') %>