@media screen and (max-width:1024px)  and (min-width:768px){






  /* nav sec  */
  .navul li a {
    font-size: 1.3rem;
  }
  /* nav sec  */



  .gallery{
    width: 95%;
    display: grid;
     grid-template-columns: repeat(auto-fit ,minmax(350px ,1fr) ) ;
     justify-items: center;
     
}

.vid-sec video {
  width: 100%;
}
.chose{
  letter-spacing: 3px;
  font-size: 2rem;
  word-spacing: 2px;
}


.brand{
      
  gap: 80px;
  width: 90%;
 }
 .brand h1 {
  width: 100%;
  font-size: 1.2rem;

}




  }