<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1><%= title %></h1>
   <form action="" >

   <label for="title-input"> Title: </label>
   <input type="text" name="title">
   <label for="release-year-input"> Release Year : </label>
   <input type="text" name="releasedyear">
   <label for="mpaarating"> MPAA Rating: </label>
   <select name="mpaarating" id="">
     <option value="G">G</option>
     <option value="PG"> PG</option>
     <option value="PG13"> PG13</option>
     <option value="R">R</option>
   </select>
   <label for="cast "> Cats (seorate actors ) : </label>
   <input type="text" name="cast" id="">
   <label for="checkbox" ></label>
   <input type="checkbox" name ='nowshowing'  checked>

   </form>
</body>
</html>