<html>
  <head>
    <title>My Website</title>
  </head>
  <body>
    <header>
      <%- include('partials/header') %>
    </header>

    <main>
      
    </main>


    <footer>
      <%- include('partials/footer') %>
    </footer>
  </body>
</html>