<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/perfomer/add"   method="POST">
    <label for="add perfomer"> Add perfomer</label>
    <input type="text" name ='content' >
      <button>add perfomer</button>
    </form>

  <select name="content" id="">

   <% perfomer.forEach(element => { %>
      <option value="<%=element.content%>"><%=element.content%></option>
   <% }) %>

  </select>



</body>
</html>