@media  (max-width:425px){



    .logos{
        padding: 0px 10px ;
    }
    .logos img {
        padding: 0px 0px;
        width: 10px;
        
    }


    .immerse{
        color: #ffffff;
        width: 100vw; 
        place-self: center center;
          gap: 50px;
        border-radius: 10px;
        
        
       }

       .immer-img img {
        width: 150px;
    }
    


    .choose-style {
        width: 100%;
        place-self: center center;
       }
    
    
       .style-wrappera {
        place-self: center center;
        display: grid;
        grid-template-columns: repeat(auto-fit ,minmax(250px ,1fr ));
       
      
      }
    
}