<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
 
</head>
<body>
  <h1>home</h1>
  
  <nav>

    <a href="/users"> sign up </a>
    <a href="/users/login"> login </a>
  </nav>
  <form action="/users/login" method="POST" style="display: flex; flex-direction: column; align-items: center; gap: 10px;" > 
    

   <label for="email"> Email : </label>
   <input type="text" name="email" >
   <label for="password">password</label>
   <input type="password"   name ='password' >

    
   <button type="submit" >login</button>
  
  </form>
</body>
</html>
