*{
    box-sizing: border-box;
    padding: 0;
     margin: 0;}


     body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 150px;
     }

.mid-sec-align {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 150px;
}     
main{
    background:url(./Assets/Photos/futuristic-bg.png) ;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 100px;

}


/* nav bar css  */
nav{
  padding-top: 30px;
   display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;


}
.hl-dilog img:nth-child(1){
    position: relative;
    right: 50px;
}

.hl-dilog img:nth-child(3){
    position: relative;
    left: 150px;
}
.right-sec{
    display: flex   ;
    justify-content: space-around;
     gap: 500px;
     align-items: center;
    flex-wrap: wrap;

}

ul{
    display: flex   ;
    gap: 50px; 
}
ul li a {
    text-decoration: none;
    color: white;
}

.nav-btn{
   display: flex;
     flex-wrap: wrap;
     gap: 10px;
}

.btn1 ,.btn2{
    padding: 10px 15px;
}

.btn1{
    background-color: rgba(240, 248, 255, 0);
    border: none;
    color: white;
}

.btn2{
    background-color: #F4694C;
    color: white;
    font-weight: 600;
}

/* nav bar css  */

/* hero css  */
.hero {
    color: white ;
    display: flex;
    justify-content: center;
    gap: 30%;
   padding-top: 200px;

    flex-wrap: wrap;

}

.hero-right  {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;

}
.hero-right h1{
    font-size: 4rem;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;


}

.hero-btn {
    display: flex;
    gap: 20px;
}

.h-btn1{
    padding: 10px 20px;
    border: 1px solid  white;
    background-color: rgba(0, 0, 0, 0.062);
    color: white;
    font-size: 1.1rem;
}
.h-btn2{
    padding: 10px 20px;
    background-color: #F4694C;
    color: white;
    font-size: 1.1rem;
    border: none;


}



/* cards section */


.show-sec{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.heading{
    font-size: 3rem;
    text-align: center;
}
.cards {
    
    gap: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
}

.card{
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
}


.card1{
    background-image: url(./Assets/Photos/image-2.png); 
}
.card2{
    background-image: url(./Assets/Photos/image-4.png);
}
.card3{
    background-image: url(./Assets/Photos/image-3.png);  
}
.card4{
    background-image: url(./Assets/Photos/Rectangle\ 56.png);
}



.disp{
   position: relative;
   top: 78%;
   bottom: 10px;
   background-color: rgba(240, 248, 255, 0.26);
   backdrop-filter: blur(10px);
   padding: 10px 10px;
   gap: 5px;

}
.disp h2{
    font-size: 17px;
}

.disp p{
    font-size: 15px;

}

.mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


.card button {
    padding: 10px 20px;
    color: white;
    background-color: #F4694C;
    border: none;
}

/* war img sec */

.war-img img {
    width: 500px;
    height: 400px;
}




.war-game {
    
    display: flex   ;
    justify-content:space-around ;
    align-items: center;
    flex-wrap: wrap;
    gap: 420px;
}
/* war img sec */


.war-disp{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
   
}

.war-disp h1{
    font-size: 2.4rem;
    font-weight: bolder;
}

.war-disp p {
    text-align: justify;
    font-size: 13px;
}



.war-btn {
    display: flex;
    gap: 10px;
}
.w-btn1 {
     border: none ;
    padding: 15px 30px;
    color: white;
    background-color: #F4694C;
}

.w-btn2 {
    border: none ;
   padding: 15px 30px;
   border: 1px solid #F4694C;
   background-color: white;
   color: #F4694C;
   
}


.rtb1 {
    background-color: #f4684c69;
    width: 50px;
    height: 50px;
    border: none;
}

.rtb2 {
    background-color: #F4694C;
    width: 50px;
    height: 50px;
    border: none;

}
 
.rec-sec {
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 100px;
   
    
}
.top-sec     {
     display: flex;
     justify-content: space-between;
     align-items: center; 
      width: 90%;
      flex-wrap: wrap;
}

.top-sec h2 {
    font-size: 2.3rem;
}
.card-sec {
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40%;
    width: 100%;
    
}

/* rec section */
.rec1,.rec2,.rec3,.rec4 {
    width: 430px; 
    height:250px;
    display: flex;
    display: flex;
    gap: 50px;
}
.rec1 img ,.rec2 img,.rec3 img  ,.rec4 img {
    width: 200px;
    height: 200px;
}
/* rec section */
.top-sec1 {
    display: flex;
    flex-direction: column;
}
.top-sec2 {
    display: flex;
    flex-direction: column;
}
.rec-disp1,.rec-disp2,.rec-disp3,.rec-disp4 p{
    font-size: 12px ;
    text-align: justify;
}
.rec-disp1,.rec-disp2,.rec-disp3,.rec-disp4{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px   ;
    width: 300px;
}
.p1 {
    color: #F4694C;
}
.download {
    padding: 10px;
    background-color: #F4694C;
    border: none;
    color: white;
}

.last-sec {
    width: 100%;
    background-color: #010308;
}
.image-tilted {
     background:url(./Assets/Icons/GAMES\ OF\ THE\ WORLD.svg);
     width: 100vw;
     height: 80vh;
     background-repeat: no-repeat;
     background-position: 58% 47%;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 50px;

}

.image-tilted h1 {
    
    font-size: 4rem;
    text-align: center;
}

.image-sec-showcase {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.image-sec-images
 {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
 }

 .image-sec-images img:nth-child(1) {
    position: relative;
    right: 250px;
    bottom: 100px;
    height: 400px;
 }
 .image-sec-images img:nth-child(2) {
    position: relative;
    right: 250px;
    height: 350px;
    bottom: -10px;
   
 }
 .image-sec-images img:nth-child(3) {
    position: relative;
    right: 250px;
    width: 200px;
 }

 .image-tilted h1 {
    
    font-size: 3rem;
    text-align: center;
}



 .gammer-sec {
  
   background-image: url(./Assets/Photos/Rectangle\ 606.png);
   width: 100vw;
   height: 80vh;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   color: white;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;  
   gap: 50px;

 }

 .g-h {
  font-size: 2rem;
  text-align: center;
 }
.g-p {
   text-align: center;
}
.g-btn {
    border: none;
    background-color: #F4694C;
    color: white;
    padding: 20px 40px;
    font-size: 1.2rem;
    font-weight: 500;
}

.back {
    width: 100%;
    height: 100%;
    background-color: #010308cc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
    gap: 50px;
}



/* footer sec css  */
footer{
    padding: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}
.info-sec{
    color: white ;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;

}

.info-sec p {
    line-height: 25px;
}
.social {
    display: flex;
    gap: 15px;
}


.articls-sec {
    color: white;
    display: flex;
      flex-direction: column;
      
      gap: 20px;

}


.articls-dsp {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.leagus {
    color: white;
    display: flex;
      flex-direction: column;
      
      gap: 20px;
}

.leagus-disp {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.team{
    color: white;
    display: flex;
      flex-direction: column;
      gap: 20px;
}
.team-disp{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.get-in-touch{
    color: white;
    display: flex;
      flex-direction: column;
      gap: 20px;
}
