@media (max-width: 1440px)  and (min-width: 1024px){


main {
    height: 100vh;
}



.war-game{
    justify-content: center;
    gap: 30px;
}



.image-sec-images img:nth-child(1) {
    position: relative;
    right: 250px;
    bottom: 100px;
    height: 400px;
 }
 .image-sec-images img:nth-child(2) {
    position: relative;
    right: 250px;
    height: 350px;
    bottom: -10px;
   
 }
 .image-sec-images img:nth-child(3) {
    position: relative;
    right: 250px;
    width: 200px;
 }

 .image-tilted h1 {
    
    font-size: 3rem;
    text-align: center;
}


.image-tilted {
    background:url(./Assets/Icons/GAMES\ OF\ THE\ WORLD.svg);
    width: 100vw;
    height:100vh;
    background-repeat: no-repeat;
    background-position: 58% 47%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

}




















}