
@media (min-width: 713px) and (max-width:1024px) {

    /* nav css  */
.right-sec{       
         gap: 100px; 
}
/* nav css */
main{
    gap: 150px;  
    height: 100vh;
}
/* hero css  */
.hero {
    gap: 10%;
    padding-top: 10px;
}

.hero-right h1{
    font-size: 2rem;
}


.hero-left {
    gap: 4px;
    font-size: 1rem;

}



.heading{
    font-size: 2rem;
    text-align: center;
}





































































}
