
@media (max-width: 425px)  and (min-width: 320px){


    /* nav bar css  */
    nav {
        flex-direction: column;
        gap: 20px;
    }
main{
    height: 120vh;
}
.right-sec{
    display: flex   ;
    flex-direction: column;
     gap: 15px;
     border: none;
     padding-left: 10px;
     padding-right: 10px;
}

ul {
    gap: 30px;
}
    /* nav bar css  */



    main {
        gap: 30px;
    }
    
    /* hero css  */
    .hero {          
         flex-direction: column;
         align-items: center;
         gap: 50px;
         justify-content: center;
         padding-top:10px ;
                  
        }
    
        /* hero css  */
    .hero-right {
        justify-content: center;
        align-items: center;
    }
     .hero-left {
        width: 300px;
        gap: 20px;
        display: flex;
        align-items: center;
     }
    

     .hero-right h1{
        font-size: 1.8rem;
    }
    .hero-right p {
        font-size: 14px;
    }






    .heading{
        font-size: 1rem;
        text-align: center;
    }
    



    .war-game{
        align-items: center;
        justify-content: center;
        gap: 40px;
        width: 100%;
        padding: 0px;
    }
    
    .war-disp h1{
        font-size: 1.8rem;
        font-weight: bolder;
        text-align: center;
    }
    
   .war-disp p {
     font-size: 11px;
     text-align:justify;
     width: 90%;
} 

    .war-disp{
      
        gap: 20px;
        align-items: center;
        width: 80%;
       
    }



    .war-img img {
        width: 340px ;
        height: 400px;
    }



    .war-btn {
        display: flex;
        gap: 10px;
    }
    .w-btn1 {
         border: none ;
        padding: 5px 15px;
        color: white;
        background-color: #F4694C;
    }
    
    .w-btn2 {
        border: none ;
       padding: 5px 15px;
       border: 1px solid #F4694C;
       
    }

    .mid-sec-align {
        width: 100%;
        gap: 100px;
    }  



    /* recomneded sec  */
    .top-sec {
        width: 90%;

    }
    .top-sec h2{
        font-size: 1rem;
    }

    .rtb1 ,.rtb2 {
       width: 30px;
       height: 30px;
    }
   .card-sec {
    border: 1px solid red ;
     justify-content: center;
     align-items: center;
     
   }


    .rec1,.rec2,.rec3,.rec4 {
        width: 100%; 
        height:250px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* flex-direction: column; */
        gap: 20px;
    }

    .rec1 img ,.rec2 img,.rec3 img  ,.rec4 img {
        width: 150px;
        height: 150px;
    }

    .top-sec1 ,.top-sec2 {
        align-items: center;
        justify-content: center;
        border: 1px solid red;
    }

    .rec-disp1,.rec-disp2,.rec-disp3,.rec-disp4 p{
        font-size: 10px ;
        text-align: justify;
    
    }
    .rec-disp1,.rec-disp2,.rec-disp3,.rec-disp4{
       
        gap: 10px   ;
        width: 200px;
    }

    .download {
        padding: 7px;
        background-color: #F4694C;
       
    }

/* card sec */





}
