
@media (max-width: 425px)  and (min-width: 320px){


    /* nav bar css  */
    nav {
        flex-direction: column;
        gap: 20px;
    }
main{
    height: 120vh;
}
.right-sec{
    display: flex   ;
    flex-direction: column;
     gap: 15px;
     border: none;
     padding-left: 10px;
     padding-right: 10px;
}

ul {
    gap: 30px;
}
    /* nav bar css  */



    main {
        gap: 30px;
    }
    
    /* hero css  */
    .hero {          
         flex-direction: column;
         align-items: center;
         gap: 50px;
         justify-content: center;
         padding-top:10px ;
                  
        }
    
        /* hero css  */
    .hero-right {
        justify-content: center;
        align-items: center;
    }
     .hero-left {
        width: 300px;
        gap: 20px;
        display: flex;
        align-items: center;
     }
    

     .hero-right h1{
        font-size: 1.8rem;
    }
    .hero-right p {
        font-size: 14px;
    }






    .heading{
        font-size: 1rem;
        text-align: center;
    }
    
























}
