*{
    box-sizing: border-box;
    padding: 0;
     margin: 0;}

main{
    background:url(./Assets/Photos/futuristic-bg.png) ;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 100px;

}


/* nav bar css  */
nav{
  padding-top: 30px;
   display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;


}

.right-sec{
    display: flex   ;
    justify-content: space-around;
     gap: 500px;
     align-items: center;
     flex-wrap: wrap;
}

ul{
    display: flex   ;
    gap: 50px; 
}
ul li a {
    text-decoration: none;
    color: white;
}

.nav-btn{
   display: flex;
     flex-wrap: wrap;
     gap: 10px;
}

.btn1 ,.btn2{
    padding: 10px 15px;
}

.btn1{
    background-color: rgba(240, 248, 255, 0);
    border: none;
    color: white;
}

.btn2{
    background-color: #F4694C;
    color: white;
    font-weight: 600;
}

/* nav bar css  */

/* hero css  */
.hero {
    color: white ;
    display: flex;
    justify-content: center;
    gap: 30%;
    padding-top: 200px;
    flex-wrap: wrap;

}

.hero-right  {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;

}
.hero-right h1{
    font-size: 4rem;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;


}

.hero-btn {
    display: flex;
    gap: 20px;
}

.h-btn1{
    padding: 10px 20px;
    border: 1px solid  white;
    background-color: rgba(0, 0, 0, 0.062);
    color: white;
    font-size: 1.1rem;
}
.h-btn2{
    padding: 10px 20px;
    background-color: #F4694C;
    color: white;
    font-size: 1.1rem;
    border: none;

}



/* cards section */


.show-sec{
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.heading{
    font-size: 3rem;
    text-align: center;
}
.cards {
    
    gap: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
}

.card{
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
}


.card1{
    background-image: url(./Assets/Photos/image-2.png); 
}
.card2{
    background-image: url(./Assets/Photos/image-4.png);
}
.card3{
    background-image: url(./Assets/Photos/image-3.png);  
}
.card4{
    background-image: url(./Assets/Photos/Rectangle\ 56.png);
}



.disp{
   position: relative;
   top: 78%;
   bottom: 10px;
   background-color: rgba(240, 248, 255, 0.26);
   backdrop-filter: blur(10px);
   padding: 10px 10px;
   gap: 5px;

}
.disp h2{
    font-size: 17px;
}

.disp p{
    font-size: 15px;

}

.mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card button {
    padding: 10px 20px;
    color: white;
    background-color: #F4694C;
    border: none;
}

/* war img sec */

.war-img img {
    width: 500px;
    height: 400px;
}




.war-game {
    padding: 100px 230px;
    display: flex   ;
    justify-content:flex-start ;
    align-items: center;
    gap: 10%;
    flex-wrap: wrap;
}
/* war img sec */


.war-disp{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
   
}

.war-disp h1{
    font-size: 2.4rem;
    font-weight: bolder;
}

.war-disp p {
    text-align: justify;
    font-size: 13px;
}



.war-btn {
    display: flex;
    gap: 10px;
}
.w-btn1 {
     border: none ;
    padding: 15px 30px;
    color: white;
    background-color: #F4694C;
}

.w-btn2 {
    border: none ;
   padding: 15px 30px;
   border: 1px solid #F4694C;
   background-color: white;
   color: #F4694C;
   
}


.rtb1 {
    background-color: #f4684c69;
    width: 50px;
    height: 50px;
    border: none;
}

.rtb2 {
    background-color: #F4694C;
    width: 50px;
    height: 50px;
    border: none;

}
 
.rec-sec {
        border:  1px solid red ;
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;


}
.top-sec     {
    display: flex;
     width: 900px;
     justify-content: space-between;
     align-items: center;
}

.top-sec h2 {
    font-size: 2rem;
}
.card-sec {
    border:  1px solid red ;
    display:  flex;
    justify-content: center;
    align-items: center;
}

/* rec section */
.rec1,.rec2,.rec3,.rec4 {
    width: 450px; 
    height:225px;
    /* border:  2px solid red; */
    display: flex;

}

.rec1 img ,.rec2 img,.rec3 img  ,.rec4 img {
    width: 30%;
    height: 80%;
}

/* rec section */


