
@media (min-width: 713px) and (max-width:768px) {
/* nav css  */
    nav{
        flex-direction: column;
        gap: 20px;
    }


    /* nav css  */
main {
    gap: 50px;
}

/* hero css  */
.hero {
              
     flex-direction: column;
     align-items: center;
     gap: 50px;
     justify-content: center;
              
    }

    /* hero css  */
    
 .hero-left {
    width: 500px;
    display: flex;
    align-items: center;
 }



 .war-game{
    align-items: center;
    justify-content: center;
    gap: 50px;
}









.heading{
    font-size: 2rem;
    text-align: center;
}





.image-sec-images img:nth-child(1) {
    position: relative;
  
   left: 20px;
    
  
 }
 .image-sec-images img:nth-child(2) {
    position: relative;
    left: 20px;
   
 }
 .image-sec-images img:nth-child(3) {
    position: relative;
     left: 10px;
     width: 180px;
 }

 .image-tilted h1 {
    
    font-size: 3rem;
    text-align: center;
}


.image-tilted {
    height:100vh;

}








}
