*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Montserrat;


}


body{
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 4fr  1fr 2fr   1fr ;

}



.totals {
    grid-column: 4/5;
}


form{

     justify-content:center ;
     align-items: center;
     
     grid-column: 2/3;


    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px ,1fr));
   



}
h3{
    grid-column: 1/-1;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}


.box {
 
    grid-column: 1/-1;
    /* background-color: aqua; */
    /* width: 80%; */
    /* border: 2px solid red ; */
    display: grid;
    gap: 5px;
}
.mail-box{
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 10px 5px;
    gap: 10px;

}

.mail-box input {
    border: none;
    outline: none;
}




.pass-code {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px , 0.5fr));
    gap: 10px;
}
.checkbox {
    grid-column: 1/ span2;
}


button {
    width: fit-content;
    grid-column: 2/3;
    justify-self: center;


   }


   h3 {
    grid-column: 1/-1;
   }



   @media (max-width: 850px) {
    body{
        
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 100px;


    }
    .totals {
        grid-column: 1/-1;
        place-items: center ;
    }
    form {
        place-items: center ;
        
        grid-column: 1/-1;
        width: 100%;
    }
  }

  @media (max-width: 500px) {
    body{
        
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 100px;


    }
    .totals {
        grid-column: 1/-2;
        place-items: center ;
        
    }
    form {
        place-items: center ;
        grid-column: 1/-2;
        width: 100%;
    }
  }
/*   */