<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>todo data </h1>
    <h2> <%= todo.text %></h2>
    <button>isdone : <%= todo.done %></button>
    <a href="/todos/<%= todo._id %>/edit" > edit </a>
    <a href="/todos">back</a>
</body>
</html>