<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <% todo.forEach((todo) => { %>


        <li><a href="/todos/<%= todo._id %>"><%=todo.text%>  </a></li>
         
        <form action="/todos/<%= todo._id %>?_method=DELETE" method="POST">

        <button type="submit">x</button>
           
        </form>
        <% })%>
     
    <a href="/todos/show">add todo</a>
</body>
</html>