<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<% if (user) { %>
    <form action="/taco/add"  method="POST">
        <label for="add taco "> add taco </label>
        <input type="text" name ='name'>
        <input type="checkbox" name="tasty" >
        <button type="submit">add taco </button>
      </form>
  <% } else { %>
  <h2> sign in to get access </h2>
 <% } %> 

 
    
<%- include('../partials/footer') %>