<%- include('../partials/html-head.ejs') %>
<link rel="stylesheet" href="/stylesheets/pokemon/show.css" />
<%- include('../partials/nav.ejs') %>

<h1>This is the pokemon show view</h1>
<h2>You're trying to view the details for <%= id %></h2>

<%- include('../partials/footer.ejs') %>