
</head>
<body>
<nav style="display: flex; flex-direction: column;">

<a href="/profiles"> profiles index </a>
<a href="/profiles/asdgjsa"> profile show </a>
<a href="/pokemon"> pokemon index</a>
<a href="/pokemon/876dasdkj"> pokemon show </a>
</nav>