
@media (min-width: 713px) and (max-width:1024px) {

    /* nav css  */
    .right-sec{       
         gap: 100px; 
}
/* nav css */
main{
    gap: 150px;
}
/* hero css  */
.hero {
    gap: 20%;
}

.hero-right h1{
    font-size: 2rem;
}


.hero-left {
    gap: 40px;
    font-size: 1rem;

}









































































}
