<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>
  <nav>
    <h1>cookies work </h1>
    <a href="/cookies/set"> set cookie </a>\
    <a href="/cookies/setobj  "> set cookie object  </a>
    \ <a href="/cookies/read"> read cookie </a>
    \<a href="/cookies/update"> update cookie </a>
    \ <a href="/cookies/delete"> delete cookie </a>
    <h1>cookies work </h1>

     <h1>session   word </h1>

     <a href="/sessions/read"> read session info </a>
     <a href="/sessions/destroy"> destroy session  </a>
     <a href="/sessions/regen">regenrate </a>
     <a href="/sessions/views">coun views  </a>
  </nav>
  <h1><%= title %></h1>
</body>
</html>
