<!-- partials/header.ejs -->

<nav style="display: flex ; justify-content: space-between; padding-left: 100px  ; padding-right: 100px;" >
   <h1>logo here </h1> <button><a href="/movies/new"> add movies</a> </button>   
   <button><a href="/movies/show"> show movies</a></button>
   <button><a href="/perfomer/add">Add perfomer </a></button>

</nav>
<h1>mongoose movies </h1>
