/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}


.navbar{
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.grow-list{
    width: 60% ;
}
.list{
    display: flex;
    gap: 40px;
}
.list-item{
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: bolder;
}
.list-item:nth-child(1)::after{
    content: '\02C5';
    font-weight: bolder;
    font-size: 1.2rem;
}
.list-item:nth-child(1){
    display: flex ;
    justify-content: space-around;
    width: 70px;
    font-weight: bold;
}



/* buttons css  */
.button-small{
    background-color: #BA0CC5;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1.1em;
}



/* hero section */

.hero{

    background-image: url('./assets/bg.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}


.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-heading{
    font-size: 5rem;
    width: 1000px;
    color:white ;
    
}

.hero-description{
    font-size: 2rem;
    width: 900px;
    color:  white ;
}

.button-large{
    background-color: #BA0CC5;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 2rem;
    font-weight: bolder;
    border-radius: 10px;
}

